body                {color: #000000; background-color: #ffffff;
					 font-style: italic; font-size: 15px;
					 text-align: center; font-family: "Didot", serif;
                    background-image: url(images/mauve_taupe_plaster.gif);}

a:link 				{color: #000000; text-decoration: none;}
a:visited 			{color: #911113; text-decoration: none;}
a:hover 			{color: #686868; text-decoration: none;}
a:active 			{color: #6600ff; text-decoration: none;}

#page               {position: absolute; 
                     height: 640px; width: 100%; 
                     padding: 0px;}

#page_center        {position: absolute; 
                     top: 15px; left: 15%; 
                     height: 610px; width: 70%; 
                     padding: 0px; margin: 0px;
                     background-color: #ffffff;}

#banner             {position: absolute; top: 5px; 
                     height: 150px; width: 100%; 
                     padding: 0px;}

#logo               {left: 0px; 
                     height: 116px; width: 100%; 
                     padding: 0px; }

#navbar             {height: 30px; width: 100%; 
                     padding-top: 10px; margin: 0px;
                 	 font-size: 20px;}
                   
#content            {position: absolute;
					 top: 155px; left: 10%;
					 width: 80%; height: 455px;
                     padding: 0px; margin: 0px;
                     overflow: auto;}

/*#text_box_tall     {position: absolute;
					 padding: 0px; margin: 0px;
					 width: 675px; left: 150px;
					 height: 440px; top: 20px;
                 	 overflow: auto; text-align: left;}*/

#text_box_form      {padding: 0px; margin: 0px;
					 text-align: center;}

/*#text_box_short     {position: absolute;
					 padding: 0px; margin: 0px;
					 width: 675px; left: 150px;
					 height: 270px; top: 200px;
                 	 overflow: auto; text-align: left;}*/

#text_box     		{padding: 0px; margin: 0px;
					text-align: left; }

#text_box_left      {padding: 0px; margin: 10px;
                    text-align: left; width: 45%;}

#text_box_right     {padding: 0px; margin: 10px;
                    text-align: left; width: 45%;
                    float: right;}

ul                  {text-align: left; list-style-type: none;}

/*.menu_table			{font-size: 15px;}

.menu_table td      {width: 33%; padding: 2px; text-align: left; }*/

/*#footer             {position:absolute;
					 top: 600px; left: 0px; 
                     height: 40px; width: 100%; 
                     padding: 2px; margin: 0px;
                 	 background-color: #660066;
                 	 color: #ffffff; }*/

